<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqlm.dao.TActivityhisMapper">
  <resultMap id="BaseResultMap" type="com.sqlm.pojo.TActivityhis">
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="publish_user" jdbcType="VARCHAR" property="publishUser" />
    <result column="publish_unit" jdbcType="VARCHAR" property="publishUnit" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="push_level" jdbcType="BIT" property="pushLevel" />
    <result column="audit_status" jdbcType="BIT" property="auditStatus" />
    <result column="activity_status" jdbcType="BIT" property="activityStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sqlm.pojo.TActivityhis">
    <result column="activity_info" jdbcType="LONGVARCHAR" property="activityInfo" />
  </resultMap>
  <sql id="Blob_Column_List">
    activity_info
  </sql>
  <insert id="insert" parameterType="com.sqlm.pojo.TActivityhis">
    insert into T_ACTIVITYHIS (activity_id, activity_name, publish_user, 
      publish_unit, publish_time, update_time, 
      push_level, audit_status, activity_status, 
      activity_info)
    values (#{activityId,jdbcType=BIGINT}, #{activityName,jdbcType=VARCHAR}, #{publishUser,jdbcType=VARCHAR}, 
      #{publishUnit,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{pushLevel,jdbcType=BIT}, #{auditStatus,jdbcType=BIT}, #{activityStatus,jdbcType=BIT}, 
      #{activityInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sqlm.pojo.TActivityhis">
    insert into T_ACTIVITYHIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="publishUser != null">
        publish_user,
      </if>
      <if test="publishUnit != null">
        publish_unit,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="pushLevel != null">
        push_level,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="activityStatus != null">
        activity_status,
      </if>
      <if test="activityInfo != null">
        activity_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="publishUser != null">
        #{publishUser,jdbcType=VARCHAR},
      </if>
      <if test="publishUnit != null">
        #{publishUnit,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushLevel != null">
        #{pushLevel,jdbcType=BIT},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=BIT},
      </if>
      <if test="activityStatus != null">
        #{activityStatus,jdbcType=BIT},
      </if>
      <if test="activityInfo != null">
        #{activityInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>