body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.demos-title {
  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}

/**********************************活动页面样式************************************/
.swiper-photoBrowser {
  background-color: #000000;
}
.swiper-photoBrowser .caption {
  text-align: center;
  color: #ffffff;
  padding: 10px;
}
.swiper-photoBrowser .swiper-pagination { position: relative; }
.swiper-photoBrowser .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.2;
}
.swiper-photoBrowser .swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}
.swiper-photoBrowser img { height: 160px; }